.container-star {
    padding: 10px 30px;
    display: flex;

}

.body {
    background: url(./bg.jpg) no-repeat center;
    position: absolute;
    width: 100%;
    z-index: -1;
    background-size: cover;
    height: 800px;
}

.body.dark-mode::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container-star .star-widget input {
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #e5e0e0;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: rgb(231, 89, 89);
}

input:checked~label {
    color: rgb(231, 89, 89);
}

input#rate-5:checked~label {
    color: rgb(236, 61, 61);
    text-shadow: 0 0 10px #952;
}

header {
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    margin: 5px 0 0px 0;
    text-align: center;
    transition: all 0.2s ease;

}

input#rate-1:checked~header:before {
    content: "I just hate it 😠";
}

input#rate-2:checked~header:before {
    content: "I don't like it 😞";
}

input#rate-3:checked~header:before {
    content: "It is Okay 😐";
}

input#rate-4:checked~header:before {
    content: "I like it 😃";
}

input#rate-5:checked~header:before {
    content: "I love it 😍";
}



.right {
    background-color: #fdfdfd;
    border-radius: 5px;

}

.addnotes {
    width: 600px
}

#feedback {
    width: 470px !important;
    box-shadow: none !important;

}


@media(max-width: 600px) {
    .addnotes {
        width: auto;

    }
}

.feedback-form {
    border: 0;
    padding: 0;
    margin:0;
    margin-bottom: 100px;

}

.feedback-form.dark-mode {
    background-color: #333;
    color: #f5f5f5;
}


p,
h6 {
    font-family: 'Poppins', sans-serif;
}

.change{
    border: 12px solid red;
}