@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
.bdy {
    /* display: flex;
    justify-content: center; */
    background-color: #ffffff;
}

.banner {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    /* border: 2px solid black; */
}
.banner-ad {
    margin-top: 6rem;
    /* border: 2px solid black; */
}
.banner-ad .title {
    display: flex;
    justify-content: center;
}

.login-btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
.login-btn button {
    background-color: #9C27B0;
    outline: none;
}
