.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 150px;
}
.card {
    width: 280px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    padding: 0.5rem;
    padding-bottom: 0;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 18px 20px rgba(195, 173, 173, 0.1);
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
.gradient-text {
    background: linear-gradient(to right, rgb(28, 26, 26), rgb(146, 142, 142));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

.gradient-text.dark-mode {
    background: linear-gradient(to right, rgb(241, 237, 237), rgb(165, 158, 158));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}